/* Name: Eugene Proctor :: Project 2 :: VFW 1303 */


/*
title: Web App Part 2 - css file 
by: Eugene Proctor   Term: 1303
for: VFW - CSS Selectors
*/

/*
fieldset {

background: #e1b016;

}
*/

.dcaRow {

/*	border: 2px solid black;*/
/*	float: right;*/
	margin-left: 5em; 
	font-family: "myriad pro", Times, serif;
	font-weight: bold;


}

body {

/*	background: yellow;  */
	background: #e1b016; 
/*	background-image: url("img/ver_bkground_03_05.png"); */
}

h1 {
	text-align: center;
	font-family: "myriad pro", Times, serif;
	border: 2px solid black;
	padding: 10px;
}

h2 {
	font-family: "myriad pro", Times, serif;
	text-align: left;
}

a:hover {
	color: #f8620a; /* orange */
	outline: none;
}

a {
	text-decoration: none;
	color: #0063ec;  /* blue */
}

p {
	color: #000000;
	font-family: "myriad pro", Times, serif;
	line-height: 1.5em;
	
}

legend {
	font-weight: bold;
}

label, input {
	margin-bottom: 10px;
}

.moreSpace {

	margin-bottom: 10px;
	/*border: 1px solid blue;*/
	
	

}

#startdate, #fullName {
	float: right;
/*	margin-right: 50px; */
	border: 1px solid black; 
}

#fontEmail {
	border: 1px solid #e1b016; 
}

#email {
	border: 1px solid blue;
	float: right;
}

#fontCity {
/*	border: 1px solid red; */
}

#city {
/*	border: 1px solid blue; */
	float: right;
}

/*
#fontCity, #fontEmail {
	margin-top: 30px; 
	margin-bottom: 30px;
	border: 1px solid red;
/*	margin-right: 30px; */
	float: left;


#city, #email {
/*	
	margin-top: 30px; 
	margin-bottom: 30px;

	margin-right: 30px;
	
	
	border: 1px solid red;
	float: right;

}

/*
#fontEmail {

	margin-top: 30px; 
	border: 1px solid red;
	float: right;

}


/*
#email, #fontEmail {

	border: 1px solid red;
	margin-top: 30px; 
	float: right;

}
*/